<!DOCTYPE html>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.bootcss.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" rel="external nofollow" >
<script type="text/javascript" src="https://cdn.bootcss.com/jquery/1.4.0/jquery.js"></script>

<html lang="en">
    <header>
        <meta charset="utf-8">
        <H1>welcome to image prediction history!</H1>
    </header>
    <body>
    <table class="table table-bordered" id='tabletest'>
 <tr>
  <th>Image</th>
  <th>Class ID</th>
  <th>Class description</th>
  <th>Score</th>
 </tr>
 </table>
    <a></a>
    <script type="text/javascript">
    window.onload = $(function(){
        $.ajax({
            url:'history',
            type:'get',
            dataType:'json',
            success:function(data){
                for(let i in data) {
                    let ro = data[i];
                    let tr;
                    let length = ro.prediction_result.length;
                    tr='<td rowspan="'+ length + '"><img src="../static/photo/' + ro.image_url +
                        '" alt="' + ro.image_url + '" width="224px" height="200px"></td>'+
                        '<td>' + ro.prediction_result[0]["class_name"] + '</td>' +
                        '<td>' + ro.prediction_result[0]["class_description"] + '</td>' +
                        '<td>' + ro.prediction_result[0]["score"] + '</td>';
                    $("#tabletest").append('<tr>'+tr+'</tr>');
                    for(let index=1; index < length; index++ ) {
                        let tr_no_pic = '<td>' + ro.prediction_result[index]["class_name"] + '</td>' +
                        '<td>' + ro.prediction_result[index]["class_description"] + '</td>' +
                        '<td>' + ro.prediction_result[index]["score"] + '</td>';
                        $("#tabletest").append('<tr>'+tr_no_pic+'</tr>');

                    }
                }
            }
        })
    })
    </script>
    </body>
</html>